doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
        title= htmlWebpackPlugin.options.title
        link(rel='stylesheet', href='styles.css')
    body
        #startApp
            a(href='javascript:void(0)', onclick='loadAppModule();this.parentElement.removeChild(this);', title="Load App's module...")
        #appContainer
        script(src='index.js')
