doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
        title= htmlWebpackPlugin.options.title
        style(type='text/css').
            ng-cloak, [ng-cloak], .ng-cloak {
                display: none;
            }
    body
        #angularRoot
            .container(ui-view='')
