//#errors
//
//#loginState.hidden
//    include login
//
//
//#loggedInState.hidden
//
//    header
//        span#loggedInInfo Welcome...
//        span &nbsp; | &nbsp;
//        ul.admin-menu.show-for-admin
//            li
//                a(href='javascript:void(0)', onclick='appMediator.addArticle()') Add article
//
//        a#logout(href='/api/auth/logout') Logout
//
//    #topMenu
//        fieldset#categoriesChoices
//        fieldset#countriesChoices
//        fieldset#langChoices
//    #content
//
//
//
//

div#reactRoot
